.stern {
    font-size: x-large;
    width: 50px;
    display: inline-block;
    color: gray;
}
.stern:last-child {
    margin-right: 0;
}
.stern:before {
    content:'\2605';
}
.stern.on {
    color: gold;
}
.stern.half:after {
    content:'\2605';
    color: gold;
    position: absolute;
    margin-left: -23px;
    width: 12.5px;
    overflow: hidden;
}