<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">e-commerce</div>
  <div class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">
      <a class="nav-link dropdown-toggle" href="#" id="navbarStudentsDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dashboard
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarStudentsDropdown">
        <a class="dropdown-item" href="#">Orders</a>
        <a class="dropdown-item" href="/students">Customers</a>
        <a class="dropdown-item" href="#">Reports</a>
      </div>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link dropdown-toggle" href="#" id="navbarStudentsDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarStudentsDropdown">
        <a class="dropdown-item" href="#">General</a>
        <a class="dropdown-item" href="#">Couriers</a>
        <a class="dropdown-item" href="/students">Taxes</a>
        <a class="dropdown-item" href="#">Shipping</a>
        <a class="dropdown-item" href="#">Payment Methods</a>

      </div>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link dropdown-toggle" href="#" id="navbarStudentsDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Products
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarStudentsDropdown">
        <a class="dropdown-item" href="#">New Product</a>
        <a class="dropdown-item" href="/students">All Products</a>
        <a class="dropdown-item" href="#">Product Categories</a>
      </div>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link dropdown-toggle" href="#" id="navbarTeachersDropdown" role="button"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Analytics
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarTeachersDropdown">
        <a class="dropdown-item" href="#">Overiew</a>
        <a class="dropdown-item" href="/teachers">Revenue</a>
        <a class="dropdown-item" href="#">Orders</a>
        <a class="dropdown-item" href="#">Products</a>
        <a class="dropdown-item" href="#">Categories</a>
        <a class="dropdown-item" href="#">Taxes</a>

      </div>
    </li>
    <a href="#" class="list-group-item list-group-item-action ">Translations</a>

    <a href="#" class="list-group-item list-group-item-action ">My Account</a>


  </div>
</div>
